/*
From: https://www.youtube.com/watch?v=Ow0QjqmaRtQ&ab_channel=EasyTutorials
*/
*{
    margin: 0;
}

body {
    background: #000;
}

.main {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: none;
    border-radius: 3px;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}

#selector {
    height: 104px;
    width: 48px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.SelectBtn {
    height: 48px;
    width: 60px;
    background-image: url("images/icon.8f18a80f7490.png");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

#SelectValue {
    width: 60px;
    height: 48px;
    position: absolute;
    top: 0;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold
}

#SelectValue::after {
    content: '';
    border-top: 17px solid #FFFFFF;
    border-left: 30px solid #000;
    border-right: 30px solid #000;
    position: absolute;
    bottom: -14px;
    left: 0;
}

#ProgressBar {
    width: 50%;
    height: 7px;
    background: #FFFFFF;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 0;
}